node_modules/.yarn-integrity
node_modules/afplay/LICENSE
node_modules/afplay/package.json
node_modules/afplay/README.md
node_modules/afplay/lib/Afplay.js
node_modules/colors/index.d.ts
node_modules/colors/LICENSE
node_modules/colors/package.json
node_modules/colors/README.md
node_modules/colors/safe.d.ts
node_modules/colors/safe.js
node_modules/colors/examples/normal-usage.js
node_modules/colors/examples/safe-string.js
node_modules/colors/lib/colors.js
node_modules/colors/lib/extendStringPrototype.js
node_modules/colors/lib/index.js
node_modules/colors/lib/styles.js
node_modules/colors/lib/custom/trap.js
node_modules/colors/lib/custom/zalgo.js
node_modules/colors/lib/maps/america.js
node_modules/colors/lib/maps/rainbow.js
node_modules/colors/lib/maps/random.js
node_modules/colors/lib/maps/zebra.js
node_modules/colors/lib/system/has-flag.js
node_modules/colors/lib/system/supports-colors.js
node_modules/colors/themes/generic-logging.js
node_modules/find-exec/index.js
node_modules/find-exec/LICENSE
node_modules/find-exec/package.json
node_modules/find-exec/README.md
node_modules/find-exec/.github/workflows/main.js.yml
node_modules/find-exec/test/all.js
node_modules/find-exec/test/shims/bar
node_modules/find-exec/test/shims/foo
node_modules/play/demo.png
node_modules/play/logo.png
node_modules/play/package.json
node_modules/play/ReadMe.md
node_modules/play/examples/demo.js
node_modules/play/examples/index.html
node_modules/play/lib/play.js
node_modules/play/vendor/debug.js
node_modules/play/vendor/jquery.js
node_modules/play/wavs/drums/kick.wav
node_modules/play/wavs/drums/phazed.wav
node_modules/play/wavs/drums/snare.wav
node_modules/play/wavs/drums/tick.wav
node_modules/play/wavs/sfx/alarm.wav
node_modules/play/wavs/sfx/crinkle.wav
node_modules/play/wavs/sfx/ding.wav
node_modules/play/wavs/sfx/flush.wav
node_modules/play/wavs/sfx/intro.wav
node_modules/play-sound/index.js
node_modules/play-sound/LICENSE
node_modules/play-sound/package.json
node_modules/play-sound/README.md
node_modules/shell-quote/.eslintrc
node_modules/shell-quote/.nycrc
node_modules/shell-quote/CHANGELOG.md
node_modules/shell-quote/index.js
node_modules/shell-quote/LICENSE
node_modules/shell-quote/package.json
node_modules/shell-quote/parse.js
node_modules/shell-quote/quote.js
node_modules/shell-quote/README.md
node_modules/shell-quote/security.md
node_modules/shell-quote/.github/FUNDING.yml
node_modules/shell-quote/example/env.js
node_modules/shell-quote/example/op.js
node_modules/shell-quote/example/parse.js
node_modules/shell-quote/example/quote.js
node_modules/shell-quote/test/comment.js
node_modules/shell-quote/test/env_fn.js
node_modules/shell-quote/test/env.js
node_modules/shell-quote/test/op.js
node_modules/shell-quote/test/parse.js
node_modules/shell-quote/test/quote.js
node_modules/shell-quote/test/set.js
